Repository prisma/specs, pull requests merged in 2019-10, with the labels that each got.

#193 Marking not implemented functionality in Schema spec
  schema/Readme.md
Labels: area/schema, kind/spec, spec/change

#159 Updated Lift Spec (1/x)
  lift/Readme.md
Labels: area/lift, area/migration-engine, engineering/blocked, kind/spec, spec/change

#116 Errors spec
  errors/Readme.md
  errors/errors-spec.monopic
  errors/errors-spec.png
  sdk-js/Readme.md
Labels: area/missing

#211 Restructure Binaries spec
  binaries/Readme.md
Labels: area/introspection-engine, area/migration-engine, area/query-engine, kind/spec, spec/change

#212 Prisma SDK
  sdk-js/Readme.md
Labels: area/sdk, kind/spec, spec/new

#205 Schema: Document @relation cases
  schema/Readme.md
Labels: area/schema, kind/spec, spec/change

#179 Photon.js: add unique constraints
  photonjs/README.md
  photonjs/archive/photon-aggregation-api/Readme.md
  photonjs/archive/photon-expression-api/Readme.md
  photonjs/archive/photon-raw-api/Readme.md
Labels: area/photonjs, engineering/blocked, kind/spec, spec/change

#220 Lift: destructive changes
  lift/Readme.md
Labels: area/lift, engineering/blocked, kind/spec, spec/change

#239 Engineering process: Epics
  process/engineering-epics.md
Labels: area/process, kind/spec, spec/new

#279 [Schema] State the absence of indexes on @relation
  photonjs/README.md
  schema/Readme.md
Labels: area/schema, kind/spec, spec/change
