Repository prisma/specs, pull requests merged in 2019-09, with the labels that each got.

#104 remove always and never options from telemetry screen
  cli/src/pages/telemetry.mdx
Labels: area/cli

#85 Repositories spec
  process/repositories.md
Labels: area/studio

#83 Process spec
  process/README.md
  process/issue-triage.md
  process/labels.md
  process/release-milestones.md
Labels: area/process

#136 spec: meta/table-of-contents
  meta/table-of-contents.md
Labels: area/spec-meta

#138 New README as entry point to specs repo
  README.md
Labels: area/spec-meta

#143 Stub for spec spec
  process/specs.md
Labels: area/process

#37 Schema: Incorporate Cue research
  schema/Readme.md
Labels: area/schema

#144 Apply frontmatter and minimal spec format to all specs
  binaries/Readme.md
  cli/README.md
  errors/Readme.md
  lift/Readme.md
  meta/table-of-contents.md
  photongo/Readme.md
  photonjs/README.md
  process/issue-triage.md
  process/labels.md
  process/release-milestones.md
  process/repositories.md
  schema/Readme.md
  schema/datasource_urls.md
  sdk-js/engine-runtime/README.md
  sdk-js/generators/README.md
  studio/README.md
Labels: area/spec-meta, process/next-milestone

#160 [Sub-PR] A few suggestions for the Lift spec PR #159
  lift/Readme.md
Labels: area/lift

#151 Photon.js: error character encoding
  photonjs/README.md
Labels: area/photonjs

#66 Studio: State persistence
  studio/state-persistence.md
Labels: area/studio

#161 CLI commands of Lift
  lift/Readme.md
Labels: area/lift
