Repository prisma/specs, pull requests merged in 2019-11, with the labels that each got.

#206 [Sub-PR] Generator: Suggestion for an introduction section
  generators/Readme.md
Labels: area/generator

#185 Generator Spec
  generators/Readme.md
Labels: area/generator, kind/spec, spec/new

#297 [lift] Specify a new destructive change check for field changes (alter column)
  lift/Readme.md
Labels: area/lift

#145 feat(binaries): revamp binaries table
  binaries/Readme.md
Labels: area/missing, kind/spec, spec/change

#257 Remove outdated details about Prisma Studio
  studio/README.md
  studio/state-persistence.md
Labels: area/studio, kind/spec, spec/new

#322 Cleanup main README and CLI stuff
  README.md
  cli/README.md
  process/repositories.md
  sdk-js/Readme.md
Labels: kind/meta

#319 [Lift] Document new steps.json
  lift/Readme.md
Labels: area/lift, area/migration-engine, kind/spec, spec/change
