Repository prisma/specs, pull requests merged in 2020-03, with the labels that each got.

#442 fix(schema): fix DateTime case
  schema/Readme.md
Labels: area/schema

#438 feat(vscode-extension): Stub spec for the VSCode extension
  vscode-extension/README.md
Labels: area/vscode-prisma

#416 PSL: Remove pluralization in fields and tables
  schema/Readme.md
Labels: area/schema

#415 Clean up schema spec
  schema/Readme.md
Labels: area/schema

#441 add information about extra fields in m:n section
  schema/Readme.md
Labels: area/schema

#443 fix(errors): move some errors back in spec
  errors/Readme.md
Labels: area/errors
